body {
    background-color: green;
}

#logo {
    color: white;
    text-align: center;
    padding: 10px;
    background-color:blue;
}

.form-group {
    display: inline-block;
    width: 50%;
}

.moodform {
    width: 70%;
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
}

button {
    margin-top: 10px;
}

.moodbox {
    display: inline-block;
    position: absolute;
    border: solid 1px black;
    margin-left:80px;
}

